
body{
  overflow: auto;
}
.list_wn{
  width: 100%;
  height: 9.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: .4rem;
}
.list_wn ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.gd_list{
  width: 100%;
  height: .6rem;
  margin-bottom: .3rem;
}
.gd_list strong{
  font-size: .4rem;
  height: .6rem;
  float: left;
  line-height: .6rem;
}
.gd_list span{
  float: right;
  width: 1.2rem;
  height: .6rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  text-align: center;
  line-height: .6rem;
  display: block;
}
.recommend{
  width: 28%;
}
.recommend img{
  width: 100%;
}
.recommend h4{
  display: -webkit-box;
 -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin:.12rem 0;
  font-size: .3rem;
  line-height: .4rem;
  height: .76rem;
}
.recommend p{
  display: -webkit-box;
 -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #888;
}
.input_wn{
  width:6.86rem;
  height:.64rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding-left: .4rem;
  background: #f7f7f7;
}
.input_wn .txt{
    width: 5.26rem;
    height: .6rem;
    border: 0;
    background: #f7f7f7;
    outline: none;
}
.but{
  background-color: #fff;
  border: 0;
  width: 1rem;
  height: .6rem;
  float: right;
  padding-top:.1rem ;
  border-radius: .4rem .4rem .4rem .4rem;
  background: #f7f7f7;
  outline: none;
}
.but i{
    font-size: .4rem;
    text-align: center;
     
}